@page "/"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@using Radzen
@using Radzen.Blazor
@using ResidencyRoll.Shared.Trips
@using ResidencyRoll.Web.Services
@using ResidencyRoll.Web.Components
@inject TripsApiClient ApiClient
@rendermode InteractiveServer

<PageTitle>Residency Roll - Travel Tracker</PageTitle>

<div class="bento-grid full-width-page">
    <!-- Main Dashboard - Large Card -->
    <div class="bento-cell-12 bento-row-2 fade-in">
        <ResidencyStatusDashboard />
    </div>

    <!-- Timeline - Full Width -->
    <div class="bento-cell-12 fade-in">
        <ResidencyTimeline />
    </div>
</div>
