@page "/"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@using Radzen
@using Radzen.Blazor
@using ResidencyRoll.Shared.Trips
@using ResidencyRoll.Web.Services
@using ResidencyRoll.Web.Components
@inject TripsApiClient ApiClient
@rendermode InteractiveServer

<PageTitle>Residency Roll - Travel Tracker</PageTitle>

<h1>Residency Roll - Travel Tracking Dashboard</h1>

<RadzenRow Gap="1rem" class="rz-mt-4">
    <RadzenColumn Size="12">
        <ResidencyStatusDashboard />
    </RadzenColumn>
</RadzenRow>

<RadzenRow Gap="1rem" class="rz-mt-4">
    <RadzenColumn Size="12">
        <ResidencyTimeline />
    </RadzenColumn>
</RadzenRow>
