@using Radzen.Blazor
@inherits LayoutComponentBase

<RadzenLayout style="background: transparent;">
<RadzenHeader class="glass-header">
    <div class="header-content">
        <h4 class="header-title">Residency Roll - Residency Status Dashboard</h4>
        <LoginDisplay />
    </div>
</RadzenHeader>
    
    <RadzenSidebar class="glass-sidebar">
        <NavMenu />
    </RadzenSidebar>
    
    <RadzenBody style="margin:0; padding: 0;">
        @Body
    </RadzenBody>
</RadzenLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
