<div class="nav-menu-container">
    <nav class="nav flex-column">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill" aria-hidden="true"></span>
            <span>Home</span>
        </NavLink>
        <NavLink class="nav-link" href="manage-trips">
            <span class="bi bi-list-nested" aria-hidden="true"></span>
            <span>Manage Trips</span>
        </NavLink>
        <NavLink class="nav-link" href="forecast">
            <span class="bi bi-graph-up" aria-hidden="true"></span>
            <span>Forecast</span>
        </NavLink>
    </nav>
</div>

