@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="login-display">
            <span class="user-name">
                <i class="bi bi-person-circle"></i>
                @context.User.Identity?.Name
            </span>
            <form method="post" action="/logout">
                <button type="submit" class="btn-logout">
                    <i class="bi bi-box-arrow-right"></i>
                    Logout
                </button>
            </form>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="/login" class="btn-login">
            <i class="bi bi-box-arrow-in-right"></i>
            Login
        </a>
    </NotAuthorized>
</AuthorizeView>
